# Tự tải Data cũng được

data_versions/
monitoring/
# Python hồi sinh được
.venv/
src/__pycache__/
*.pyc
# model có thể build lại
models/*.csv
models/*.pkl

#test
results/

#Tools
tools/checkDataset.py

#MLFlow
mlruns/

#others
docs/HUONG_DAN_DU_AN.md
docs/CHANGES_CHAMPION_CHALLENGER.md